* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  color: black;
}
a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  padding: 20px;
  box-sizing: border-box;
}
body:hover a {
  opacity: 0.4; 
}
body:hover a:hover {
  opacity: 1;
  box-shadow: inset 0 -0.33333em rgba(22,22,22,0.0875);
  transition: all 0.2s ease-in-out;
}
h3 {
  clear: both; 
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
}
.logo img {
  width: 50px;
}
.row {
  height: 50vh;
  width: 100vw;
  position: relative;
}
.split {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  float: left;
}
.split50 {
  width: 50%;
}
.split33 {
  width: 33.33333%;
}
@media (max-width: 500px) {
  .split {
    display: block;
    width: 100% !important;
  }
  .row {
    height: auto;
  }
}
